@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* 초기화 */
*{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

.wrap{
    width: 100vw;
    height: 100vh;
    background: #000;
}
.wrap .game{
    width: 100vw;
    height: 80vh;
    padding-top: 10vh;
    overflow: hidden;
}
.wrap .sky{
    width: 100%;
    height: 85%;
    background: #548CFF;
    position: relative;
}
.wrap .sky .text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
}
.wrap .sky .text p{
    width: 100px;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.wrap .sky .clouds{
    width: 100%;
    height: 20%;
    position: relative;
}
.wrap .sky .cloud01{
    position: absolute;
    top: 30%;
    left: 40%;
}
.wrap .sky .cloud02{
    position: absolute;
    bottom: 0;
    left: 55%;
}
.wrap .sky .cloud03{
    position: absolute;
    top: 35%;
    left: 75%;
}

.wrap .sky .bricks{
    width: 100%;
    height: 33%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.wrap .sky .bricks .right-box{
    margin-right: 100px;
}

.wrap .sky .bricks .left-box{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}
.wrap .sky .bricks .left-box .single-top{
    margin-bottom: 100px;
}
.wrap .sky .bricks .left-box .multiple img{
    float: left;
}

.wrap .ground{
    width: 100%;
    height: 15%;
    position: relative;
    background: url("../img/groundblock.png");
    background-size: 40px 40px;
}
.wrap .ground .plant{
    width: 100%;
    position: relative;
}
.wrap .ground .plant .hills{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.wrap .ground .plant .hills img:last-child{
    position: absolute;
    left: 40%;
    bottom: 0;
}
.wrap .ground .plant .bushes{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.wrap .ground .plant .bushes .bush01{
    position: absolute;
    left: 24%;
    bottom: 0;
}
.wrap .ground .plant .bushes .bush02{
    position: absolute;
    left: 49%;
    bottom: 0;
}
.wrap .ground .plant .bushes .bush03{
    position: absolute;
    left: 87%;
    bottom: 0;
}
.wrap .ground .pipe{
    position: absolute;
    top: -64px;
    right: 20%;
}
.wrap .ground .gumba{
    position: absolute;
    top: -32px;
    right: 0;
    /* animation-name: movingGumba;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
    animation: movingGumba 3s linear infinite alternate;
}

@keyframes movingGumba{
    from{
        right: 0;
    }
    to{
        right: 20%;
        transform: translateX(100%);
    }
}

.wrap .ground .mario{
    position: absolute;
    top: -32px;
    left: 0;
    animation: movingMario 9s linear infinite, walkingMario 0.8s steps(4) infinite, jumpingMario 9s step-start infinite;
    width: 31px;
    height: 32px; 
    background: url("../img/Mario-walk.png") left center;
}

@keyframes movingMario{
    0%{
        top: -32px;
        left: 0%;
    }
    65%{
        top: -32px;
    }
    75%{
        top: -150px;
    }
    85%{
        top: -32px;
    }
    100%{
        top: -32px;
        left: 100%;
    }
}
@keyframes walkingMario {
    100%{
        background-position: -128px;
    }
}
/* @keyframes jumpingMario {
    0%{
        background: url("../img/Mario-walk.png");
    }
    64%{
        background: url("../img/Mario-walk.png");
    }
    65%{
        background: url("../img/Mario\ -\ Jump.gif") left center;
    }
    85%{
        background: url("../img/Mario\ -\ Jump.gif") left center;    
    }
    86%{
        background: url("../img/Mario-walk.png");
    }
    100%{
        background: url("../img/Mario-walk.png");
    }
} */
/* background: url("../img/Mario-walk.png") left center; */


